<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Fermentation Chamber</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    
    <body>
        
        <h1>Hello world!</h1>
        <button type="submit" class="btn btn-lg btn-success" value="send" role="button" id="interfaceButton" href="interface" class="btn btn-main">Interface</button>
        <p id="">fdas</p>
        <p id="author">fdsa</p>
        <p class="tagline">From Cloud9 IDE!</p>
        
        <!-- load scripts at the bottom of your page -->
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="../static/site.js"></script>
    </body>
</html>